<!DOCTYPE html>
{% extends 'Profile/base.html' %}
{% load static %}




{% block body_block %}




<div class="content pharmacy-cart-content">
<div class="container">
<div class="row">
<div class="col-lg-3 col-xl-3 theiaStickySidebar">

<div class="filter-new">
<div class="filter-header">
<h4>Categories</h4>
</div>
<div class="filter-widget filter-checkbox">
<div>
<label class="custom_check">
<input type="checkbox" name="gender_type">
<span class="checkmark"></span> Medicine
</label>
</div>
<div>
<label class="custom_check">
<input type="checkbox" name="gender_type">
<span class="checkmark"></span> Treatment
</label>
</div>
<div>
<label class="custom_check">
<input type="checkbox" name="gender_type" checked>
<span class="checkmark"></span> Organic
</label>
</div>
<div>
<label class="custom_check">
<input type="checkbox" name="gender_type">
<span class="checkmark"></span> Open 24 hours
</label>
</div>
<div>
<label class="custom_check">
<input type="checkbox" name="gender_type" checked>
<span class="checkmark"></span> Home Delivery
</label>
</div>
<div>
<label class="custom_check mb-0">
<input type="checkbox" name="gender_type" checked>
<span class="checkmark"></span> Hospital Equipment
</label>
</div>
</div>
</div>


<div class="filter-new">
<div class="filter-header">
<h4>Location</h4>
</div>
<div class="filter-widget">
<div class="filter-location">
<select class="select">
<option>Los Angeles</option>
<option>London</option>
<option>Australia</option>
<option>Europe</option>
</select>
</div>
</div>
</div>


<div class="filter-new">
<div class="filter-header">
<h4>Radius</h4>
</div>
<div class="filter-widget">
<div class="filter-content filter-content-slider">
<div class="slider-wrapper"><div id="price-range"></div></div>
<div class="price-wrapper">
<h6>Distance: <span><span id="pricerangemin"></span>Km - <span id="pricerangemax"></span>Km</span></h6>
</div>
</div>
</div>
</div>


<div class="filter-new">
<div class="filter-header">
 <h4>By Rating</h4>
</div>
<div class="filter-widget filter-checkbox">
<label class="custom_check w-100">
<input type="checkbox" name="reviews">
<span class="checkmark"></span>
<span class="rating">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
</span>
</label>
<label class="custom_check w-100">
<input type="checkbox" name="reviews" checked>
<span class="checkmark"></span>
<span class="rating">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star"></i>
</span>
</label>
<label class="custom_check w-100">
<input type="checkbox" name="reviews">
<span class="checkmark"></span>
<span class="rating">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star"></i>
</span>
</label>
<label class="custom_check w-100">
<input type="checkbox" name="reviews">
<span class="checkmark"></span>
<span class="rating">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
</span>
</label>
<label class="custom_check w-100 mb-0">
<input type="checkbox" name="reviews">
<span class="checkmark"></span>
<span class="rating">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star"></i>
</span>
</label>
</div>
</div>

</div>
<div class="col-lg-9 col-xl-9">

<div class="filter-info">
<div class="row align-items-center">
<div class="col-md-7 col-12 d-md-block custom-short-by">
<div class="pharm-viewicon">
<p><span>10</span> matches found for Pharmacy in Los Angeles</p>
</div>
</div>
<div class="col-md-5 col-12 d-md-block custom-short-by">
<div class="sort-by sort-byone">
<span class="sortby-fliter">
<select class="select">
<option>Default Sorting</option>
<option class="sorting">Rating</option>
<option class="sorting">Popular</option>
<option class="sorting">Latest</option>
<option class="sorting">Free</option>
</select>
</span>
</div>
</div>
</div>
</div>


<div class="card pharmacy-card">
<div class="card-body">
<div class="doctor-widget pharmacy-widget">
<div class="doc-info-left">
<div class="doctor-img1">
<a href="pharmacy-details.html">
<img src="assets/img/pharmacy/pharmacy-01.jpg" class="img-fluid" alt="">
</a>
<div class="pharmacy-pro-tags">
<span class="pharmacy-closed">Closed</span>
</div>
</div>
<div class="doc-info-cont">
<h4 class="doc-name"><a href="pharmacy-details.html">Medicone Pharmacy</a></h4>
<div class="rating">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star"></i>
<span class="d-inline-block average-rating">(256)</span>
</div>
<div class="clinic-details">
<div class="clini-infos">
<p class="doc-location">
<i class="feather-map-pin"></i> 1430 Pretoria, Los Angeles 12401.
</p>
<p class="doc-location text-ellipse">
<i class="feather-tag"></i> Hospital Equipment
</p>
<p class="doc-location">
<i class="feather-clock"></i> 9 AM - 8 PM (Mon - Sat)
</p>
</div>
</div>
<div class="pharmacy-booking">
<a class="btn view-details-btn" href="pharmacy-details.html">View Details</a>
<a class="btn browse-products-btn" href="product-all.html">Browse Products</a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="card pharmacy-card">
<div class="card-body">
<div class="doctor-widget pharmacy-widget">
<div class="doc-info-left">
<div class="doctor-img1">
<a href="pharmacy-details.html">
<img src="assets/img/pharmacy/pharmacy-02.jpg" class="img-fluid" alt="">
</a>
<div class="pharmacy-pro-tags">
<span class="pharmacy-closed">Closed</span>
</div>
</div>
<div class="doc-info-cont">
<h4 class="doc-name"><a href="pharmacy-details.html">Furia Pharmacy</a></h4>
<div class="rating">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star"></i>
<span class="d-inline-block average-rating">(150)</span>
</div>
<div class="clinic-details">
<div class="clini-infos">
<p class="doc-location">
<i class="feather-map-pin"></i> 132, My Street, Kingston, Los Angeles 12401.
</p>
<p class="doc-location text-ellipse">
<i class="feather-tag"></i> Hospital Equipment
</p>
<p class="doc-location">
<i class="feather-clock"></i> 24Hrs (Mon - Sun)
</p>
</div>
</div>
<div class="pharmacy-booking">
<a class="btn view-details-btn" href="pharmacy-details.html">View Details</a>
<a class="btn browse-products-btn" href="product-all.html">Browse Products</a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="card pharmacy-card">
<div class="card-body">
<div class="doctor-widget pharmacy-widget">
<div class="doc-info-left">
<div class="doctor-img1">
<a href="pharmacy-details.html">
<img src="assets/img/pharmacy/pharmacy-03.jpg" class="img-fluid" alt="">
</a>
<div class="pharmacy-pro-tags">
<span class="pharmacy-closed">Closed</span>
</div>
</div>
<div class="doc-info-cont">
<h4 class="doc-name"><a href="pharmacy-details.html">Medicare Pharmacy</a></h4>
<div class="rating">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<span class="d-inline-block average-rating">(78)</span>
 </div>
<div class="clinic-details">
<div class="clini-infos">
<p class="doc-location">
<i class="feather-map-pin"></i> 132, Satrkey Street, Pretoria, Los Angeles 12401.
</p>
<p class="doc-location text-ellipse">
<i class="feather-tag"></i> Supplements, Sports nutritions
</p>
<p class="doc-location">
<i class="feather-clock"></i> 10 AM - 10 PM (Mon - Sat)
</p>
</div>
</div>
<div class="pharmacy-booking">
<a class="btn view-details-btn" href="pharmacy-details.html">View Details</a>
<a class="btn browse-products-btn" href="product-all.html">Browse Products</a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="card pharmacy-card">
<div class="card-body">
<div class="doctor-widget pharmacy-widget">
<div class="doc-info-left">
<div class="doctor-img1">
<a href="pharmacy-details.html">
<img src="assets/img/pharmacy/pharmacy-04.jpg" class="img-fluid" alt="">
</a>
<div class="pharmacy-pro-tags">
<span class="pharmacy-opened">Opened</span>
</div>
</div>
<div class="doc-info-cont">
<h4 class="doc-name"><a href="pharmacy-details.html">Mallon Pharma</a></h4>
<div class="rating">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star"></i>
<span class="d-inline-block average-rating">(358)</span>
</div>
<div class="clinic-details">
<div class="clini-infos">
<p class="doc-location">
<i class="feather-map-pin"></i> 132, Laghouat, Algeria, Los Angeles 12401.
</p>
<p class="doc-location text-ellipse">
<i class="feather-tag"></i> Hospital Equipment
</p>
<p class="doc-location">
<i class="feather-clock"></i> 24Hrs (Mon - Sun)
</p>
</div>
</div>
<div class="pharmacy-booking">
<a class="btn view-details-btn" href="pharmacy-details.html">View Details</a>
<a class="btn browse-products-btn" href="product-all.html">Browse Products</a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="col-md-12 text-center">
<div class="product-pagination pharmacy-search-pagination">
<nav>
<ul class="pagination justify-content-end">
<li class="page-item disabled">
<a class="page-link" href="javascript:void(0);" tabindex="-1"><i class="fas fa-angle-left"></i></a>
</li>
<li class="page-item">
<a class="page-link" href="javascript:void(0);">1</a>
</li>
<li class="page-item active">
<a class="page-link" href="javascript:void(0);">2 <span class="visually-hidden">(current)</span></a>
</li>
<li class="page-item">
<a class="page-link" href="javascript:void(0);">3</a>
</li>
<li class="page-item">
<a class="page-link" href="javascript:void(0);"><i class="fas fa-angle-right"></i></a>
</li>
</ul>
</nav>
</div>
</div>

</div>
</div>
</div>
</div>

 
{% endblock %}