<!DOCTYPE html>
{% extends 'Profile/base.html' %}
{% load static %}




{% block body_block %}


<div class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

<div class="profile-sidebar">
<div class="widget-profile pro-widget-content">
<div class="profile-info-widget">
<a href="#" class="booking-doc-img">
    {% if user.user_profile.proPic %}
    <img src="/media/{{user.user_profile.proPic}}" width="40px" height="40px" > 
    {% else %}
    <img src="/media/avater.png" width="40px" height="40px" >
    {% endif %}
</a>
<div class="profile-det-info">
    <div class="patient-details">
        <h5><i class="fas fa-user"></i>BM&DC Regi: {{user.doctor_info.BmdcRegiNo}} </h5>
        <h5 ><i class="fa fa-user"></i>Type: {{user.doctor_info.reg_type}}</h5>
        <h5><i class="fas fa-user"></i>Gender {{user.doctor_info.Gender}}</h5>
        <h5><i class="fas fa-weight"></i>{{user.doctor_info.date_of_birth|timesince}}&nbsp years old</h5>
        <h5><i class="fa fa-phone"></i> {{user.doctor_info.phone_no}}</h5>
        <h5><i class="fa fa-envelope"></i> {{user.email}}</h5>
        <br>
        
        {% if user.expecting_ac %}
        <h5 ><i class="fas fa fa-check"></i>Varified account </h5>
        {% else %}
        <h5 ><i class="fas fa-service"></i>Varification pending </h5>
        {% endif %}
        
        </div>

<div class="patient-details">
<h5 class="mb-0">{{user.doctor_info.Degree}}</h5>
</div>
</div>
</div>
</div>
<div class="dashboard-widget">
<nav class="dashboard-menu">
<ul>
<li class="active">
<a href="#">
<i class="fas fa-columns"></i>
<span>Dashboard</span>
</a>
</li>
<li>
    {% if user.user_profile.proPic %}
    <a href="{% url 'Accountapp:ProPicChange' %}">
    <i class="fas fa-user-injured"></i>
    <span>Change Profile picture</span>
    </a>
    {% else %}
    <a href="{% url 'Accountapp:AddProPic' %}">
    <i class="fas fa-user-injured"></i>
    <span>Upload Profile picture</span>
    </a>
    {% endif %}
</li>
<li>
<a href="{% url 'blog_app:my_blog' %}">
<i class="fas fa-bookmark"></i>
<span>My Blogs</span>
</a>
</li>
<li>
<a href="">
<i class="fas fa-hourglass-start"></i>
<span>Schedule Timings</span>
</a>
</li>
<li>
<a href="#">
<i class="fas fa-clock"></i>
<span>Available Timings</span>
</a>
</li>
<li>
<a href="{% url 'blog_app:CreateBlog' %}">
<i class="fas fa-file-invoice"></i>
<span>Create blogs</span>
</a>
</li>
<li>
<a href="#">
<i class="fas fa-file-invoice-dollar"></i>
<span>Accounts</span>
 </a>
</li>
<li>
<a href="#">
<i class="fas fa-star"></i>
<span>Reviews</span>
</a>
</li>
<li>
<a href="#">
<i class="fas fa-comments"></i>
<span>Message</span>
<small class="unread-msg">23</small>
</a>
</li>
<li>
<a href="{% url 'Accountapp:doc_edit_pro' %}">
<i class="fas fa-user-cog"></i>
<span>Profile Settings</span>
</a>
</li>
<li>
<a href="#">
<i class="fas fa-share-alt"></i>
<span>Social Media</span>
</a>
</li>
<li>
<a href="{% url 'Accountapp:ChangePasss' %}">
<i class="fas fa-lock"></i>
<span>Change Password</span>
</a>
</li>
<li>
<a href="{% url 'Accountapp:sign_out' %}">
<i class="fas fa-sign-out-alt"></i>
<span>Logout</span>
</a>
</li>
</ul>
</nav>
</div>
</div>

</div>
<div class="col-md-7 col-lg-8 col-xl-9">
<div class="row">
<div class="col-lg-4 col-md-12">
<div class="card dash-cards">
<div class="card-body">
<div class="dash-top-content">
<div class="circle-bar circle-bar1">
<div class="circle-graph1" data-percent="75">
<img src="{% static '' %}assets/img/icon-01.png" class="img-fluid" alt="patient">
</div>
</div>
<div class="dash-widget-info">
<h6>Total Patient All time</h6>
<h6>Developing..</h6>
</div>
</div>
<div class="dash-bottom-content">
<h6> <span> <i class="fas fa-caret-up"></i> Developing..</span> last Week</h6>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-12">
<div class="card dash-cards">
<div class="card-body">
<div class="dash-top-content">
<div class="circle-bar circle-bar2">
<div class="circle-graph2" data-percent="75">
<img src="{% static '' %}assets/img/icon-03.png" class="img-fluid" alt="patient">
</div>
</div>
<div class="dash-widget-info">
<h6>Total Appointements</h6>
<h6>Developing..</h6>
</div>
</div>
<div class="dash-bottom-content">
<h6> <span> <i class="fas fa-caret-up"></i> 5.5%</span> last Week</h6>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-12">
<div class="card dash-cards">
<div class="card-body">
<div class="dash-top-content">
<div class="circle-bar circle-bar3">
<div class="circle-graph3" data-percent="50">
<img src="{% static '' %}assets/img/icon-4.png" class="img-fluid" alt="patient">
</div>
</div>
<div class="dash-widget-info">
<h6>Developing..</h6>
<h3>#</h3>
</div>
</div>
<div class="dash-bottom-content low-percent">
<h6> <span> <i class="fas fa-caret-down"></i> 5.5%</span> Developing..</h6>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-8">
<div class="card dash-cards">
<div class="card-header">
<div class="today-appointment-title">
<h5 class="mb-0">Search patient for prescribe</h5>
<a href="#"><h6 class="mb-0">View All <i class="feather-arrow-right"></i></h6></a>
</div>
</div>
<div class="card-body">
<div class="table-responsive">
<table class="table table-hover table-center mb-0">
    
        <form class="form-control datetimepicker" method="GET">
        <div class="input-group">
        <input type="text" class="form-control" name="Search" placeholder="Search by user name">
        &nbsp 
        <div class="input-group-btn">
        <button class="btn btn-success btn-lg" type="submit">Search</button>
        </div>
        </div>
        </form>


<div>
{% if Search %}    
{% for result in results %}
<div class="card">
<div class="card-body">
<div class="doctor-widget">
<div class="doc-info-left">

<div class="doctor-img">
<a href="{% url 'Accountapp:view_all_profile' username=result.username %}">
{% if result.user_profile.proPic %}
<img src="/media/{{result.user_profile.proPic}}" width="60px" height="60px" > 
{% else %}
<img src="/media/avater.png" width="100px" height="100px" >
{% endif %}
</a>
</div>

<div class="doc-info-cont">
<h4 class="doc-name"><a href="#">{{result.username}}</a></h4>
<p class="doc-speciality">{{result.first_name}} {{result.lastst_name}}</p>

{% if result.is_patient %}
<h5 class="doc-department">Patient</h5>
{% elif result.is_doctor %}
<h5 class="doc-department">Doctor</h5>
{% else %}
<h5 class="doc-department">Service holder</h5>
{% endif %}


</div>
</div>
<div class="doc-info-right">
<div class="clini-infos">

</div>
<div class="clinic-booking">
<a class="view-pro-btn" href="{% url 'Accountapp:view_all_profile' username=result.username %}">View Profile</a>

</div>
</div>
</div>
</div>
</div>
{% endfor %} 
{% endif %}          
</div>




</table>
</div>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="card dash-cards">
<div class="card-header">
<div class="today-appointment-title">
<h5 class="mb-0">Recent Patients</h5>
{% comment %} <a href="#"><h6 class="mb-0">View All<i class="feather-arrow-right"></i></h6></a> {% endcomment %}
</div>
</div>
<div class="card-body">
<div class="table-responsive">
<table class="table table-hover table-center mb-0">
<tbody>
 {% for paitent in patients %}   
<tr>
<td>
<h2 class="table-avatar">
    <a href="{% url 'Accountapp:view_all_profile' username=paitent.user.username %}" class="avatar avatar-m me-2">
        {% if paitent.user.user_profile.proPic %}
        <img src="/media/{{paitent.user.user_profile.proPic}}" class="avatar-img"> 
        {% else %}
        <img src="/media/avater.png" class="avatar-img">
        {% endif %}
    </a>
<a href="#">{{paitent.user.username}}<span>{{paitent.user.first_name}} &nbsp {{paitent.user.lastname}}</span></a>
</h2>
</td>
<td class="text-center"><a href="#"><i class="fas fa-chevron-right"></i></a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="card dash-cards xyz">
<div class="card-header">
<div class="row align-items-center">
<div class="col">
<h5 class="card-title">Appointments</h5>
</div>
<div class="col-auto chart-select d-flex">
<div class="me-2">
<select class="select">
<option>All Calls</option>
<option>Video</option>
<option>Audio</option>
<option>Chat</option>
</select>
</div>
<select class="select">
<option>2022</option>
<option>2022</option>
</select>
</div>
</div>
</div>
<div class="card-body">
<div id="call-chart"></div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4 d-flex">
<div class="card dash-cards flex-fill">
<div class="card-header">
<div class="today-appointment-title">
<h5 class="mb-0">Recent Prescriptions</h5>
<a href="#"><h6 class="mb-0">View All <i class="feather-arrow-right"></i></h6></a>
</div>
</div>
<div class="card-body">
<div class="table-responsive">
<table class="table table-hover table-center mb-0">
<tbody>
<tr>
<td>
<h2 class="table-avatar">
<a href="#" class="avatar-m avatar-tablet me-2 d-flex align-items-center justify-content-center">
<img src="{% static '' %}assets/img/icons/tablets.svg" alt="">
</a>
<a href="#">Abacavir<span class="text-danger">#8995447</span></a>
</h2>
</td>
<td>Type : Onetime</td>
<td class="text-center"><a href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a></td>
</tr>
<tr>
<td>
<h2 class="table-avatar">
<a href="#" class="avatar-m avatar-tablet me-2 d-flex align-items-center justify-content-center">
<img src="{% static '' %}assets/img/icons/tablets.svg" alt="">
</a>
<a href="#">Calcium<span class="text-danger">#8995447</span></a>
</h2>
</td>
<td>Type : Onetime</td>
<td class="text-center"><a href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a></td>
</tr>
<tr>
<td>
<h2 class="table-avatar">
<a href="#" class="avatar-m avatar-tablet me-2 d-flex align-items-center justify-content-center">
<img src="{% static '' %}assets/img/icons/tablets.svg" alt="">
</a>
<a href="#">Citrizen<span class="text-danger">#8995447</span></a>
</h2>
</td>
<td>Type : Onetime</td>
<td class="text-center"><a href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a></td>
</tr>
<tr>
<td>
<h2 class="table-avatar">
<a href="#" class="avatar-m avatar-tablet me-2 d-flex align-items-center justify-content-center">
<img src="{% static '' %}assets/img/icons/tablets.svg" alt="">
</a>
<a href="#">Glabton<span class="text-danger">#8995447</span></a>
</h2>
</td>
<td>Type : Onetime</td>
<td class="text-center"><a href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<div class="col-lg-4 d-flex">
<div class="card dash-cards flex-fill">
<div class="card-header">
<div class="today-appointment-title">
<h5 class="mb-0">Total Earning</h5>
</div>
</div>
<div class="card-body">
<div id="earnings-chart"></div>
</div>
</div>
</div>
<div class="col-lg-4 d-flex">
<div class="card dash-cards flex-fill">
<div class="card-header">
<div class="today-appointment-title">
<h5 class="mb-0">Recent Consultation</h5>
</div>
</div>
<div class="card-body">
<div class="owl-carousel report-card-slider owl-theme">
<div class="item">
<div class="paitents-report-card">
<div class="paitents-report-card-head d-flex align-items-center">
<div class="paitent-report-card-photo">
<a href="patient-profile.html" class="avatar avatar-m me-2"><img class="avatar-img" src="{% static '' %}assets/img/patients/patient4.jpg" alt="User Image"></a>
</div>
<div class="paitent-report-card-detail d-flex flex-column">
<a href="patient-profile.html">Hendry</a>
<p class="text-dark mb-0">Female - 40years </p>
</div>
</div>
<div class="paitents-report-card-body">
<div class="paitents-report-card-details d-flex flex-column">
 <h3>Problem</h3>
<h6 class="mb-0">Fever, Soar throat, Allergy </h6>
</div>
<div class="paitents-report-card-details d-flex flex-column">
<h3>Last Checked</h3>
<h6>Dr Kimberly on Fret Hospital in 29/05/2022</h6>
<p class="text-danger mb-0">Prescription : #566646</p>
</div>
<div class="paitents-report-card-details d-flex flex-column">
<h3>Observation</h3>
<h6>Three Sickle cells are sustained at normal hemoglobin Level</h6>
</div>
</div>
</div>
</div>
<div class="item">
<div class="paitents-report-card">
<div class="paitents-report-card-head d-flex align-items-center">
<div class="paitent-report-card-photo">
<a href="patient-profile.html" class="avatar avatar-m me-2"><img class="avatar-img" src="{% static '' %}assets/img/patients/patient2.jpg" alt="User Image"></a>
</div>
<div class="paitent-report-card-detail d-flex flex-column">
<a href="patient-profile.html">James</a>
<p class="text-dark mb-0">Male - 35years </p>
</div>
</div>
<div class="paitents-report-card-body">
<div class="paitents-report-card-details d-flex flex-column">
<h3>Problem</h3>
<h6 class="mb-0">Fever, Soar throat, Allergy </h6>
</div>
<div class="paitents-report-card-details d-flex flex-column">
<h3>Last Checked</h3>
<h6>Dr Kimberly on Fret Hospital in 29/05/2022</h6>
<p class="text-danger mb-0">Prescription : #566646</p>
</div>
<div class="paitents-report-card-details d-flex flex-column">
<h3>Observation</h3>
<h6>Three Sickle cells are sustained at normal hemoglobin Level</h6>
</div>
</div>
</div>
</div>
<div class="item">
<div class="paitents-report-card">
<div class="paitents-report-card-head d-flex align-items-center">
<div class="paitent-report-card-photo">
<a href="patient-profile.html" class="avatar avatar-m me-2"><img class="avatar-img" src="{% static '' %}assets/img/patients/patient3.jpg" alt="User Image"></a>
</div>
<div class="paitent-report-card-detail d-flex flex-column">
<a href="patient-profile.html">Richard</a>
<p class="text-dark mb-0">Male - 30years </p>
</div>
</div>
<div class="paitents-report-card-body">
<div class="paitents-report-card-details d-flex flex-column">
<h3>Problem</h3>
<h6 class="mb-0">Fever, Soar throat, Allergy </h6>
</div>
<div class="paitents-report-card-details d-flex flex-column">
<h3>Last Checked</h3>
<h6>Dr Kimberly on Fret Hospital in 29/05/2022</h6>
<p class="text-danger mb-0">Prescription : #566646</p>
</div>
<div class="paitents-report-card-details d-flex flex-column">
<h3>Observation</h3>
<h6>Three Sickle cells are sustained at normal hemoglobin Level</h6>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}