<!DOCTYPE html>
{% extends 'Profile/base.html' %}
{% load static %}
<html lang="en">

{% block body_block %}

<div class="content">
<div class="container-fluid">
<div class="row">

<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
<div class="profile-sidebar">
<div class="widget-profile pro-widget-content">
<div class="profile-info-widget">
<a href="#" class="booking-doc-img">
{% if user.user_profile.proPic %}
<img src="/media/{{user.user_profile.proPic}}" width="40px" height="40px" > 
{% else %}
<img src="/media/avater.png" width="40px" height="40px" >
{% endif %}
</a>

<div class="profile-det-info">
<h3>@{{user.username}}</h3>
<h4>{{user.first_name}} {{user.last_name}}</h4>

<div class="patient-details">
<h5><i class="fas fa-birthday-cake"></i> {{user.govt_emp_info.date_of_birth}}</h5>
<h5 class="mb-0"><i class="fas fa-id"></i>Emp ID :{{user.govt_emp_info.emp_id}}</h5>
<h5 class="mb-0"><i class="fas fa-id"></i>Emp type :{{user.govt_emp_info.emp_type}}</h5>
<h5 class="mb-0"><i class="fas fa-id"></i>Gender :{{user.govt_emp_info.Gender}}</h5>
<h5 class="mb-0"><i class="fas fa-id"></i>Contact :{{user.govt_emp_info.phone_no}}</h5>
</div>
</div>
</div>
</div>
<div class="dashboard-widget">
<nav class="dashboard-menu">
<ul>
<li class="active">
<a href="{% url 'Accountapp:gov_dashbord' %}">
<i class="fas fa-columns"></i>
<span>Dashboard</span>
</a>
</li>
<li>
{% if user.user_profile.proPic %}
<a href="{% url 'Accountapp:ProPicChange' %}">
<i class="fas fa-bookmark"></i>
<span>Change Profile picture</span></a>
{% else %}
<a href="{% url 'Accountapp:AddProPic' %}">
<i class="fas fa-bookmark"></i>
<span>Upload Profile picture</span>
</a>
{% endif %}

</li>
<li>
<a href="{% url 'managementapp:verify_author' %}">
<i class="fas fa-users"></i>
<span>Verified users</span>
</a>
</li>
<li>
<a href="#">
<i class="fas fa-users"></i>
<span>Unverified users</span>
<small class="unread-msg">23</small>
</a>
</li>
<li>
<a href="#">
<i class="fas fa-file-invoice-dollar"></i>
<span>Accounts</span>
</a>
</li>
<li>
<a href="#">
<i class="fas fa-list-alt"></i>
<span>Orders</span>
<small class="unread-msg">7</small>
</a>
</li>
<li>
<a href="#">
<i class="fas fa-clipboard"></i>
<span>Add Medical Records</span>
</a>
</li>
<li>
<a href="#">
<i class="fas fa-file-medical-alt"></i>
<span>Medical Details</span>
</a>
</li>
<li>
<a href="{% url 'Accountapp:Govt_edit_pro' %}">
<i class="fas fa-user-cog"></i>
<span>Profile Settings</span>
</a>
</li>
<li>
<a href="{% url 'Accountapp:ChangePasss' %}">
<i class="fas fa-lock"></i>
<span>Change Password</span>
</a>
</li>
<li>
<a href="{% url 'Accountapp:sign_out' %}">
<i class="fas fa-sign-out-alt"></i>
<span>Logout</span>
</a>
</li>
</ul>
</nav>
</div>
</div>
</div>

<div class="col-md-7 col-lg-8 col-xl-9">
<div class="row">
<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
<div class="card">
<div class="card-body ">
<div class="">
<h5> <a href="{% url 'Accountapp:search' %}" class="btn-link btn-sm">total user </a>( {{user_list.count}} )</h5>
</div>
<h5> <a href="" class="btn-link btn-sm">total Doctor </a>( {{doctor_list.count}} )</h5>
<h5> <a href="" class="btn-link btn-sm">total patient</a>( {{patient_List.count}} )</h5>
<h5> <a href="" class="btn-link btn-sm">total labrotory</a>( {{lab_list.count}} )</h5>
<h5> <a href="" class="btn-link btn-sm">total Hospital</a>( {{hospital_list.count}} )</h5>
<h5> <a href="" class="btn-link btn-sm">total Pharmecy</a>( {{phar_list.count}} )</h5>
<h5> <a href="" class="btn-link btn-sm">total Govt employ</a>( {{phar_list.count}} )</h5>
<h5> <a href="" class="btn-link btn-sm">total Pharmaceutical Pharm</a>( {{pharmacuticalfarm_list.count}} )</h5>

</div>
</div>
</div>
<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
<div class="card">
<div class="card-body ">
<div class="">
<h5> <a href="{% url 'managementapp:verify_author' %}" class="btn-link btn-sm">verified doctor</a>({{verified_doctor.count}})</h5>
</div>
<h5> <a href="" class="btn-link btn-sm">verification required Doctor</a>({{unverified_doctor.count}})</h5>
<h5> <a href="{% url 'managementapp:verify_author' %}" class="btn-link btn-sm">verified labrotory</a>({{verified_lab.count}})</h5>
<h5> <a href="" class="btn-link btn-sm">verification required labrotory</a>({{unverified_lab.count}})</h5>
<h5> <a href="{% url 'managementapp:verify_author' %}" class="btn-link btn-sm">verified Hospital</a>({{verified_hospital.count}})</h5>
<h5> <a href="" class="btn-link btn-sm">verification required Hospital</a>({{unverified_hospital.count}})</h5>
<h5> <a href="{% url 'managementapp:verify_author' %}" class="btn-link btn-sm">verified Pharmecy </a>({{verified_phar.count}})</h5>
<h5> <a href="" class="btn-link btn-sm">verification required Pharmecy</a>({{unverified_phar.count}})</h5>
<h5> <a href="{% url 'managementapp:verify_author' %}" class="btn-link btn-sm">verified Pharmaciutical pharm </a>({{verified_phfarm.count}})</h5>
<h5> <a href="" class="btn-link btn-sm">verification required Pharmaciutical pharm</a>({{unverified_phfarm.count}})</h5>

</div>
</div>
</div>
<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
<div class="card">
<div class="card-body text-center">
<div class="">
<h5> <a href="" class="btn-link btn-sm">Total biling 95 </a></h5>
</div>
<h5> <a href="" class="btn-link btn-sm">Pharmacy billing (5) </a></h5>
<h5> <a href="" class="btn-link btn-sm">labrotory billing (35) </a></h5>
<h5> <a href="" class="btn-link btn-sm">Medical billing (3) </a></h5>
<h5> <a href="" class="btn-link btn-sm">unauthorized Pharmacy billing (4) </a></h5>
<h5> <a href="" class="btn-link btn-sm">unauthorized Hospital billing (5) </a></h5>
<h5> <a href="" class="btn-link btn-sm">unauthorized labratory billing (4) </a></h5>

</div>
</div>
</div>
<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
<div class="card">
<div class="card-body text-center">
<div class="mb-3">
<div class="">
<h5> <a href="" class="btn-link btn-sm">Total medicin selling 95 </a></h5>
</div>
<h5> <a href="" class="btn-link btn-sm">unauthorized medicin selling (5) </a></h5>
<h5> <a href="" class="btn-link btn-sm"></a></h5>
<h5> <a href="" class="btn-link btn-sm"></a></h5>
<h5> <a href="" class="btn-link btn-sm">Pharmaceutical Pharm required new add (4) </a></h5>

</div>
</div>
</div>
</div>
<div class="row patient-graph-col">
<div class="col-12">
<div class="card">
<div class="card-header">
<h4 class="card-title">Graph Status</h4>
</div>
<div class="card-body pt-2 pb-2 mt-1 mb-1">
<div class="row">
<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-graph-box">
<a href="#" class="graph-box" data-bs-toggle="modal" data-bs-target="#graph1">
<div>
<h4>BMI Status</h4>
</div>
<div class="graph-img">
<img src="{% static '' %}assets/img/shapes/graph-01.png" alt="">
</div>
<div class="graph-status-result mt-3">
<span class="graph-update-date">Last Update 6d</span>
</div>
</a>
</div>
<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-graph-box">
<a href="#" class="graph-box pink-graph" data-bs-toggle="modal" data-bs-target="#graph2">
<div>
<h4>Heart Rate Status</h4>
</div>
<div class="graph-img">
<img src="{% static '' %}assets/img/shapes/graph-02.png" alt="">
</div>
<div class="graph-status-result mt-3">
<span class="graph-update-date">Last Update 2d</span>
</div>
</a>
</div>
<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-graph-box">
<a href="#" class="graph-box sky-blue-graph" data-bs-toggle="modal" data-bs-target="#graph3">
<div>
<h4>FBC Status</h4>
</div>
<div class="graph-img">
<img src="{% static '' %}assets/img/shapes/graph-03.png" alt="">
</div>
<div class="graph-status-result mt-3">
<span class="graph-update-date">Last Update 5d</span>
</div>
</a>
</div>
<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-graph-box">
<a href="#" class="graph-box orange-graph" data-bs-toggle="modal" data-bs-target="#graph4">
<div>
<h4>Weight Status</h4>
</div>
<div class="graph-img">
<img src="{% static '' %}assets/img/shapes/graph-04.png" alt="">
</div>
<div class="graph-status-result mt-3">
<span class="graph-update-date">Last Update 3d</span>
</div>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="card">
<div class="card-body pt-0">

<nav class="user-tabs mb-4">
<h3>Verification required</h3>
<ul class="nav nav-tabs nav-tabs-bottom nav-justified">   
<li class="nav-item">
<a class="nav-link active" href="#pat_appointments" data-bs-toggle="tab">required Doctor ({{unverified_doctor.count}})</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#pat_prescriptions" data-bs-toggle="tab">required Hospital ({{unverified_hospital.count}})</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#pat_medical_records" data-bs-toggle="tab"><span class="med-records">required labrotory ({{unverified_lab.count}})</span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="#pat_billing" data-bs-toggle="tab">required Pharmecy ({{unverified_phar.count}})</a>
</li>
</ul>
</nav>


<div class="tab-content pt-0">

<div id="pat_appointments" class="tab-pane fade show active">
<div class="card card-table mb-0">
<div class="card-body">
<div class="table-responsive">
<table class="table table-hover table-center mb-0">
<thead>
<tr>
<th>@Doctor </th>
<th>BM&DC Regi  </th>
<th>Date of birth  </th>
<th>contact  </th>
<th></th>
</tr>
</thead>
<tbody>
{% for doctors in unverified_doctor %}
<tr>
<td>
<h2 class="table-avatar">
<a href="#" class="avatar avatar-sm me-2">
    {% if doctors.user_profile.proPic %}
    <img src="/media/{{doctors.user_profile.proPic}}" > 
    {% else %}
    <img src="/media/avater.png" >
    {% endif %}
</a>
<a href="doctor-profile.html">{{doctors.first_name}}  {{doctors.last_name}} <span>@{{doctors.username}}</span></a>
</h2>
 </td>
<td>{{doctors.doctor_info.BmdcRegiNo}} <span class="d-block text-info">Type {{doctors.doctor_info.reg_type}}</span></td>
<td>{{doctors.doctor_info.date_of_birth}} <span class="d-block text-info">{{doctors.doctor_info.Gender}}</span></td>
<td>{{doctors.email}} <span class="d-block text-info">{{doctors.doctor_info.phone_no}}</span></td>


<td class="text-end">
<div class="table-action">
<a href="{% url 'managementapp:verify_acount' username=doctors.username %}" class="btn btn-sm bg-primary-light">
<i class="fas fa-varify"></i>Confirm verify
</a>
<a href="{% url 'Accountapp:view_all_profile' username=doctors.username %}" class="btn btn-sm bg-info-light">
<i class="far fa-eye"></i> View profile
</a>
</div>
</td>
</tr>
{% endfor %}




</tbody>
</table>
</div>
</div>
</div>
</div>

<div class="tab-pane fade" id="pat_prescriptions">
<div class="card card-table mb-0">
<div class="card-body">
<div class="table-responsive">
<table class="table table-hover table-center mb-0">
    <thead>
        <tr>
        <th>Org</th>
        <th>Registration </th>
        <th>Last update regi</th>
        <th>contact</th>
        <th>Address</th>
        <th></th>
        </tr>
        </thead>
        <tbody>
    {% for doctors in unverified_hospital %}
    <tr>
    <td>
    <h2 class="table-avatar">
    <a href="#" class="avatar avatar-sm me-2">
        {% if doctors.user_profile.proPic %}
        <img src="/media/{{doctors.user_profile.proPic}}" > 
        {% else %}
        <img src="/media/avater.png" >
        {% endif %}
    </a>
    <a href="doctor-profile.html">{{doctors.first_name}}  {{doctors.last_name}} <span>@{{doctors.username}}</span></a>
    </h2>
     </td>
    <td>{{doctors.org_info.RegiNo}} <span class="d-block text-info">Type {{doctors.org_info.org_type}}</span></td>
    <td>{{doctors.org_info.last_updated_regi}} <span class="d-block text-info">{{doctors.org_info.Gender}}</span></td>
    <td>{{doctors.email}} <span class="d-block text-info">{{doctors.org_info.phone_no}}</span><span class="d-block text-info">{{doctors.org_info.website}}</span></td>
    <td>{{doctors.org_info.division}} <span class="d-block text-info">{{doctors.org_info.district}}</span><span class="d-block text-info">{{doctors.org_info.upazilla}}</span></td>
    
    <td class="text-end">
    <div class="table-action">
    <a href="{% url 'managementapp:verify_acount' username=doctors.username %}" class="btn btn-sm bg-primary-light">
    <i class="fas fa-varify"></i>Confirm verify
    </a>
    <a href="{% url 'Accountapp:view_all_profile' username=doctors.username %}" class="btn btn-sm bg-info-light">
    <i class="far fa-eye"></i> View profile
    </a>
    </div>
    </td>
    </tr>
    {% endfor %}
    
</tbody>
</table>
</div>
</div>
</div>
</div>



<div id="pat_medical_records" class="tab-pane fade">
<div class="card card-table mb-0">
<div class="card-body">
<div class="table-responsive">
<table class="table table-hover table-center mb-0">
    <thead>
        <tr>
        <th>Org</th>
        <th>Registration </th>
        <th>Last update regi</th>
        <th>contact</th>
        <th>Address</th>
        <th></th>
        </tr>
    </thead>
<tbody>
    {% for doctors in unverified_lab %}
    <tr>
    <td>
    <h2 class="table-avatar">
    <a href="#" class="avatar avatar-sm me-2">
        {% if doctors.user_profile.proPic %}
        <img src="/media/{{doctors.user_profile.proPic}}" > 
        {% else %}
        <img src="/media/avater.png" >
        {% endif %}
    </a>
    <a href="doctor-profile.html">{{doctors.first_name}}  {{doctors.last_name}} <span>@{{doctors.username}}</span></a>
    </h2>
     </td>
    <td>{{doctors.org_info.RegiNo}} <span class="d-block text-info">Type {{doctors.org_info.org_type}}</span></td>
    <td>{{doctors.org_info.last_updated_regi}} <span class="d-block text-info">{{doctors.org_info.Gender}}</span></td>
    <td>{{doctors.email}} <span class="d-block text-info">{{doctors.org_info.phone_no}}</span><a href="{{doctors.org_info.website}}">website</a></td>
    <td>{{doctors.org_info.division}} <span class="d-block text-info">{{doctors.org_info.district}}</span><span class="d-block text-info">{{doctors.org_info.upazilla}}</span></td>
    
    <td class="text-end">
    <div class="table-action">
    <a href="{% url 'managementapp:verify_acount' username=doctors.username %}" class="btn btn-sm bg-primary-light">
    <i class="fas fa-varify"></i>Confirm verify
    </a>
    <a href="{% url 'Accountapp:view_all_profile' username=doctors.username %}" class="btn btn-sm bg-info-light">
    <i class="far fa-eye"></i> View profile
    </a>
    </div>
    </td>
    </tr>
    {% endfor %}
    
</tbody>
</table>
</div>
</div>
</div>
</div>


<div id="pat_billing" class="tab-pane fade">
<div class="card card-table mb-0">
<div class="card-body">
<div class="table-responsive">
<table class="table table-hover table-center mb-0">
    <thead>
        <tr>
        <th>Org</th>
        <th>Registration </th>
        <th>Last update regi</th>
        <th>contact</th>
        <th>Address</th>
        <th></th>
        </tr>
    </thead>
<tbody>
    {% for doctors in unverified_phar %}
    <tr>
        <td>
        <h2 class="table-avatar">
        <a href="#" class="avatar avatar-sm me-2">
            {% if doctors.user_profile.proPic %}
            <img src="/media/{{doctors.user_profile.proPic}}" > 
            {% else %}
            <img src="/media/avater.png" >
            {% endif %}
        </a>
        <a href="doctor-profile.html">{{doctors.first_name}}  {{doctors.last_name}} <span>@{{doctors.username}}</span></a>
        </h2>
         </td>
        <td>{{doctors.pharmeci_info.RegiNo}} <span class="d-block text-info">Type {{doctors.pharmeci_info.org_type}}</span></td>
        <td>{{doctors.pharmeci_info.last_updated_regi}} <span class="d-block text-info">{{doctors.pharmeci_info.Gender}}</span></td>
        <td>{{doctors.email}} <span class="d-block text-info">{{doctors.pharmeci_info.phone_no}}</span><a href="{{doctors.pharmeci_info.website}}">website</a></td>
        <td>{{doctors.pharmeci_info.division}} <span class="d-block text-info">{{doctors.pharmeci_info.district}}</span><span class="d-block text-info">{{doctors.pharmeci_info.upazilla}}</span></td>
        
        <td class="text-end">
        <div class="table-action">
        <a href="{% url 'managementapp:verify_acount' username=doctors.username %}" class="btn btn-sm bg-primary-light">
        <i class="fas fa-varify"></i>Confirm verify
        </a>
        <a href="{% url 'Accountapp:view_all_profile' username=doctors.username %}" class="btn btn-sm bg-info-light">
        <i class="far fa-eye"></i> View profile
        </a>
        </div>
        </td>
        </tr>
    {% endfor %}
    
</tbody>
</table>
</div>
</div>
</div>
</div>

</div>

</div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}