<!DOCTYPE html>
{% extends 'Profile/base.html' %}
{% load static %}
<html lang="en">

{% block body_block %}


<div class="card">
<div class="card-body pt-0">

<nav class="user-tabs mb-4">
<center><h3>Verified user</h3></center>
<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
<li class="nav-item">
<a class="nav-link active" href="#pat_appointments" data-bs-toggle="tab">verified doctor{{verified_doctor.count}}</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#pat_prescriptions" data-bs-toggle="tab">verified Hospital{{verified_hospital.count}}</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#pat_medical_records" data-bs-toggle="tab"><span class="med-records">verified labrotory{{verified_lab.count}}</span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="#pat_billing" data-bs-toggle="tab">verified Pharmecy{{verified_phar.vount}}</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#pat_billing" data-bs-toggle="tab">verified Pharmaciutical pharm</a>
</li>
</ul>
</nav>


<div class="tab-content pt-0">

<div id="pat_appointments" class="tab-pane fade show active">
<div class="card card-table mb-0">
<div class="card-body">
<div class="table-responsive">
    <table class="table table-hover table-center mb-0">
        <thead>
        <tr>
        <th>@Doctor </th>
        <th>BM&DC Regi  </th>
        <th>Date of birth  </th>
        <th>contact  </th>
        <th></th>
        </tr>
        </thead>
        <tbody>
        {% for doctors in verified_doctor %}
        <tr>
        <td>
        <h2 class="table-avatar">
        <a href="#" class="avatar avatar-sm me-2">
            {% if doctors.user_profile.proPic %}
            <img src="/media/{{doctors.user_profile.proPic}}" > 
            {% else %}
            <img src="/media/avater.png" >
            {% endif %}
        </a>
        <a href="{% url 'Accountapp:view_all_profile' username=doctors.username %}">{{doctors.first_name}}  {{doctors.last_name}} <span>@{{doctors.username}}</span></a>
        </h2>
         </td>
        <td>{{doctors.doctor_info.BmdcRegiNo}} <span class="d-block text-info">Type {{doctors.doctor_info.reg_type}}</span></td>
        <td>{{doctors.doctor_info.date_of_birth}} <span class="d-block text-info">{{doctors.doctor_info.Gender}}</span></td>
        <td>{{doctors.email}} <span class="d-block text-info">{{doctors.doctor_info.phone_no}}</span></td>
        
        
        <td class="text-end">
        <div class="table-action">
        <a href="{% url 'Accountapp:view_all_profile' username=doctors.username %}" class="btn btn-sm bg-info-light">
        <i class="far fa-eye"></i> View profile
        </a>
        </div>
        </td>
        </tr>
        {% endfor %}
        
        
        
        
        </tbody>
        </table>
        </div>
        </div>
        </div>
        </div>
        
        <div class="tab-pane fade" id="pat_prescriptions">
        <div class="card card-table mb-0">
        <div class="card-body">
        <div class="table-responsive">
        <table class="table table-hover table-center mb-0">
            <thead>
                <tr>
                <th>Org</th>
                <th>Registration </th>
                <th>Last update regi</th>
                <th>contact</th>
                <th>Address</th>
                <th></th>
                </tr>
                </thead>
                <tbody>
            {% for doctors in verified_hospital %}
            <tr>
            <td>
            <h2 class="table-avatar">
            <a href="{% url 'Accountapp:view_all_profile' username=doctors.username %}" class="avatar avatar-sm me-2">
                {% if doctors.user_profile.proPic %}
                <img src="/media/{{doctors.user_profile.proPic}}" > 
                {% else %}
                <img src="/media/avater.png" >
                {% endif %}
            </a>
            <a href="{% url 'Accountapp:view_all_profile' username=doctors.username %}">{{doctors.first_name}}  {{doctors.last_name}} <span>@{{doctors.username}}</span></a>
            </h2>
             </td>
            <td>{{doctors.org_info.RegiNo}} <span class="d-block text-info">Type {{doctors.org_info.org_type}}</span></td>
            <td>{{doctors.org_info.last_updated_regi}} <span class="d-block text-info">{{doctors.org_info.Gender}}</span></td>
            <td>{{doctors.email}} <span class="d-block text-info">{{doctors.org_info.phone_no}}</span><span class="d-block text-info">{{doctors.org_info.website}}</span></td>
            <td>{{doctors.org_info.division}} <span class="d-block text-info">{{doctors.org_info.district}}</span><span class="d-block text-info">{{doctors.org_info.upazilla}}</span></td>
            
            <td class="text-end">
            <div class="table-action">
            <a href="{% url 'Accountapp:view_all_profile' username=doctors.username %}" class="btn btn-sm bg-info-light">
            <i class="far fa-eye"></i> View profile
            </a>
            </div>
            </td>
            </tr>
            {% endfor %}
            
        </tbody>
        </table>
        </div>
        </div>
        </div>
        </div>
        
        
        
        <div id="pat_medical_records" class="tab-pane fade">
        <div class="card card-table mb-0">
        <div class="card-body">
        <div class="table-responsive">
        <table class="table table-hover table-center mb-0">
            <thead>
                <tr>
                <th>Org</th>
                <th>Registration </th>
                <th>Last update regi</th>
                <th>contact</th>
                <th>Address</th>
                <th></th>
                </tr>
            </thead>
        <tbody>
            {% for doctors in verified_lab %}
            <tr>
            <td>
            <h2 class="table-avatar">
            <a href="#" class="avatar avatar-sm me-2">
                {% if doctors.user_profile.proPic %}
                <img src="/media/{{doctors.user_profile.proPic}}" > 
                {% else %}
                <img src="/media/avater.png" >
                {% endif %}
            </a>
            <a href="{% url 'Accountapp:view_all_profile' username=doctors.username %}">{{doctors.first_name}}  {{doctors.last_name}} <span>@{{doctors.username}}</span></a>
            </h2>
             </td>
            <td>{{doctors.org_info.RegiNo}} <span class="d-block text-info">Type {{doctors.org_info.org_type}}</span></td>
            <td>{{doctors.org_info.last_updated_regi}} <span class="d-block text-info">{{doctors.org_info.Gender}}</span></td>
            <td>{{doctors.email}} <span class="d-block text-info">{{doctors.org_info.phone_no}}</span><a href="{{doctors.org_info.website}}">website</a></td>
            <td>{{doctors.org_info.division}} <span class="d-block text-info">{{doctors.org_info.district}}</span><span class="d-block text-info">{{doctors.org_info.upazilla}}</span></td>
            
            <td class="text-end">
            <div class="table-action">
            <a href="{% url 'Accountapp:view_all_profile' username=doctors.username %}" class="btn btn-sm bg-info-light">
            <i class="far fa-eye"></i> View profile
            </a>
            </div>
            </td>
            </tr>
            {% endfor %}
            
        </tbody>
        </table>
        </div>
        </div>
        </div>
        </div>
        
        
        <div id="pat_billing" class="tab-pane fade">
        <div class="card card-table mb-0">
        <div class="card-body">
        <div class="table-responsive">
        <table class="table table-hover table-center mb-0">
            <thead>
                <tr>
                <th>Org</th>
                <th>Registration </th>
                <th>Last update regi</th>
                <th>contact</th>
                <th>Address</th>
                <th></th>
                </tr>
            </thead>
        <tbody>
            {% for doctors in verified_phar %}
            <tr>
                <td>
                <h2 class="table-avatar">
                <a href="#" class="avatar avatar-sm me-2">
                    {% if doctors.user_profile.proPic %}
                    <img src="/media/{{doctors.user_profile.proPic}}" > 
                    {% else %}
                    <img src="/media/avater.png" >
                    {% endif %}
                </a>
                <a href="{% url 'Accountapp:view_all_profile' username=doctors.username %}">{{doctors.first_name}}  {{doctors.last_name}} <span>@{{doctors.username}}</span></a>
                </h2>
                 </td>
                <td>{{doctors.pharmeci_info.RegiNo}} <span class="d-block text-info">Type {{doctors.pharmeci_info.org_type}}</span></td>
                <td>{{doctors.pharmeci_info.last_updated_regi}} <span class="d-block text-info">{{doctors.pharmeci_info.Gender}}</span></td>
                <td>{{doctors.email}} <span class="d-block text-info">{{doctors.pharmeci_info.phone_no}}</span><a href="{{doctors.pharmeci_info.website}}">website</a></td>
                <td>{{doctors.pharmeci_info.division}} <span class="d-block text-info">{{doctors.pharmeci_info.district}}</span><span class="d-block text-info">{{doctors.pharmeci_info.upazilla}}</span></td>
                
                <td class="text-end">
                <div class="table-action">
                
                <a href="{% url 'Accountapp:view_all_profile' username=doctors.username %}" class="btn btn-sm bg-info-light">
                <i class="far fa-eye"></i> View profile
                </a>
                </div>
                </td>
                </tr>
            {% endfor %}
            
        </tbody>
        </table>
</div>
</div>
</div>
</div>

</div>

</div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}